*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/*body{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLpqmExemsaioAVjgFaE76OTUzdqIELZ4uAukg3cXyGGwz2ZpD"), linear-gradient(#eb01a5, #d13531);
	background-size: auto;
	background-repeat: no-repeat;
}*/