/* /*@import url('https://fonts.googleapis.com/css?family=Roboto'); */

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

div .card {
    position: relative;
    background: #d3d3d3;
    width: 350px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px 2px #000;
    height: auto;
    z-index: 0;
}

.price {
    margin: 10px 30px;
    font-weight: bold;
    font-style: italic;
    color: green;
}

button.btn {
    display: block;
    background: #ef3e36;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 10px;
    transition: 250ms;
    bottom: 0;
}

button.btn:hover {
    background: #8b0000;
    transition: 250ms;
    color: white;
}

.header {
    background-size: cover;
    height: 300px;
}

.info {
    margin: 10px 30px;
}

.fa-users {
    color: gray;
}

.fa-clock-o {
    color: gray;
    margin: 0 30px;
}

.food {
    color: black;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 5px 30px;
}

#cat_buttons {
    padding: 1rem 1rem;
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #ef3e36;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
    z-index: ;
}
#scroll:hover {
    background-color: #8b0000;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

@media (max-width: 320px) {
    img {
        width: 258px;
        height: 300px;
        object-fit: cover;
        overflow: hidden;
    }

    .container {
        margin-bottom: 5rem;
    }
}
